.label{
    -fx-font-size: 12px;
}

#gpMain{
    -fx-hgap: 40px;
    -fx-vgap: 40px;
    -fx-padding: 20px;
}

.gpHeroes{
    -fx-vgap: 10;
    -fx-pref-width: 250;
    -fx-pref-height: 600;
}

#arenaName{
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-stroke: white;
    -fx-stroke-width: 1px;
}

.radio-button{
    -fx-font-weight: bold;
}

.text-area .content{
    -fx-background-color: linear-gradient(lightskyblue, beige);
}

.text-area .scroll-pane{
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.gpHeroesLabels{
    -fx-hgap: 10;
}