.root{
    -fx-background-color: linear-gradient(deepskyblue, aquamarine);
}

.label{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.choice-box{
    -fx-pref-width: 170px;
}

.choice-box .context-menu{
    -fx-pref-width: 170px;
}

.choice-box .menu-item:focused{
    -fx-background-color: deepskyblue;
}

.button{
    -fx-pref-height: 40;
    -fx-pref-width: 120;
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 2,2,2;
    -fx-spacing: 10;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-wrap-text: true;
}

.button Text{
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

.button:hover{
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f);
    -fx-background-insets: 0,1;
    -fx-background-radius: 3,2;
}

.button:focused{
    -fx-background-color:
            white,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 2,2,2;
}