.label{
    -fx-font-size: 24px;
}

#gpMain{
    -fx-hgap: 50;
    -fx-vgap: 50;
}

#gpTextFields{
    -fx-hgap: 10;
    -fx-vgap: 20;
    -fx-padding: 30;
    -fx-background-color: linear-gradient(deepskyblue, aquamarine);
    -fx-background-radius: 30;
    -fx-border-color: gray;
    -fx-border-radius: 30;
}

#loginTitle{
    -fx-font-size: 55px;
    -fx-font-weight: bold;
    -fx-stroke: white;
    -fx-stroke-width: 2px;
}