#gpMain{
    -fx-hgap: 50px;
    -fx-vgap: 50px;
}

#gpHero{
    -fx-hgap: 10px;
}

#setupTitle{
    -fx-font-size: 55px;
    -fx-font-weight: bold;
    -fx-stroke: white;
    -fx-stroke-width: 2px;
}

#vbChoices{
    -fx-alignment: top-center;
    -fx-spacing: 50;
}

#vbRename{
    -fx-alignment: top-center;
    -fx-spacing: 5;
}

#lblArenaDescription{
    -fx-font-size: 12px;
}