.chart{
    -fx-pref-height: 350;
    -fx-pref-width: 350;
}

#gpMain{
    -fx-vgap: 50px;
}

#statisticsTitle{
    -fx-font-size: 55px;
    -fx-font-weight: bold;
    -fx-stroke: white;
    -fx-stroke-width: 2px;
}